torch_geometric==2.6.1
torch==2.2.1 # this version was used by the original repo
scipy
numpy==1.26.4 # needs to be <= 2
biopython
matplotlib
pandas==2.1.4
rdkit==2023.09.6
requests
tqdm
libchebipy==1.0.10
jpype1==1.5.0
pubchempy==1.0.4
